<button
  *ngIf="type === 'add'"
  class="btn btn-primary btn-oval"
  (click)="openModal(ModalRef)"
>
  <b> {{ buttonName }}</b> <i class="fas fa-plus-circle ml-2"></i>
</button>

<a
  *ngIf="type === 'edit'"
  tooltip="Edit"
  class="btn"
  (click)="openModal(ModalRef)"
  ><i class="fa fa-edit"></i
></a>

<ng-template #ModalRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <b>{{ modalTitle }}</b>
    </h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <ng-content></ng-content>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onSave()">Save</button>
    <button class="btn btn-danger" type="button" (click)="onCancel()">
      Cancel
    </button>
  </div>
</ng-template>
