.content-header {
  display: flex;
  justify-content: space-between;
}

.skin-blue-light .content-header {
  background: transparent;
}

.bg-color {
  background-color: #ecf0f5 !important;
}

.dasboard-bg {
  background-color: #ecf0f5 !important;
  box-shadow: none !important;
}

.title-panel {
  border-bottom: 1px solid #ccc;
}

// .style {
//   background-color: white;
//   border: 1px solid #ddd;
//   padding: 20px;
// }
