<body class="hold-transition skin-blue-light sidebar-mini">
  <div class="wrapper">
    <!-- Main Header -->
    <app-nav-bar></app-nav-bar>

    <!-- Left side column. contains the logo and sidebar -->
    <app-side-nav></app-side-nav>

    <!-- Content Wrapper - contains page content -->
    <div class="content-wrapper">
      <!-- Begin Main content -->
      <section class="content container-fluid no-padding">
        <div
          class="title-panel"
          [ngStyle]="{
            'background-color': '#ecf0f5',
            'box-shadow': 'inherit'
          }"
        >
          <!-- Panel Heading -->
          <section
            class="d-flex content-header"
            style="justify-content: space-between;"
          >
            <div class="d-flex">
              <h1 class="m-0" style="font-size: 24px;">
                <b>{{ pageTitle }}</b>
              </h1>

              <button
                class="btn btn-primary btn-xs ml-3"
                style="height: fit-content;"
                (click)="goBack()"
              >
                Back
              </button>
            </div>

            <div class="content-breadcrumb">
              <breadcrumb [allowBootstrap]="true"></breadcrumb>
            </div>
          </section>
        </div>
        <section class="content clearfix style">
          <router-outlet></router-outlet>
        </section>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <div>
      <ng-container *ngComponentOutlet="entryComponent"></ng-container>
    </div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- right side toggle contents -->
    </aside>
    <!-- /.Control Sidebar -->
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- Logout Modal -->
  <div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondory" type="button" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary" data-dismiss="modal" (click)="logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
