<div class="ml-3">
  <button
    class="btn btn-danger"
    *ngIf="!deleteAll"
    (click)="openConfirmationDialogue()"
  >
    Delete
  </button>
</div>

<button
  *ngIf="deleteAll"
  class="btn btn-danger"
  (click)="openConfirmationDialogue()"
></button>
