/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";
@import "./assets/scss/main.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

$color_1: red;
$color_2: #6c7178;
$color_3: #007bff;
$font-family1: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$background_color_1: #367fa9;
$background_color_2: #fff;

/* Theme color */
.skin-blue-light .main-header .navbar {
  background-color: #1976d2 !important;
}

.skin-blue-light .main-header .logo {
  background-color: #1976d2 !important;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}

.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  margin: 0;
}

/* breadcrumbs */
breadcrumb {
  .fluid-bread {
    background-color: inherit;
  }

  .container-fluid {
    height: unset;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    margin-bottom: 1rem;
  }

  .container {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
  }

  .breadcrumb {
    background-color: inherit;
    float: right;
  }
}

.box-body {
  padding: 10px 0px;
}

sup {
  color: red;
}

.box.box-default {
  border-top-color: #ffffff !important;
}
.box {
  padding: 15px;
}

.box-shadow {
  box-shadow: 0px 0px 20px 0px rgba(190, 190, 192, 0.5);
}

// KENDO TABLE GRID
// For loading like button in Kendo grid table
.grid-wrapper {
  position: relative;
}

.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ff6757 !important;
}

.k-grid th,
.k-grid td {
  border: none;
}

// For Heading
.head {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1.3em;

    border-bottom: 1px solid #ecf0f5;
    padding-bottom: 8px;
  }
}

/* Date Picker */
.theme-default {
  .bs-datepicker-head {
    background-color: $background_color_1;
  }
  .bs-datepicker-body {
    table {
      td {
        span.selected {
          background-color: $background_color_1;
        }
      }
      td.week {
        span {
          color: $color_3;
        }
      }
    }
  }
}

// Form Validation

.error-msg {
  color: $color_1;
  font-size: 13px;
}
.form-error-border {
  border: 1px solid red;
}

// input box red when validation fails.
.form-control.ng-touched.ng-invalid {
  border-color: red !important;
}
.ng-touched.ng-invalid .datepicker__input.form-control {
  border-color: red !important;
}

.k-virtual-content {
  overflow-y: hidden;
}

.k-grid-header,
.k-grid-footer {
  flex: 0 0 auto;
  padding-right: 0px !important;
  border-width: 0;
  border-style: solid;
  border-color: inherit;
}
