<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img
          *ngIf="!userInfo?.photo"
          src="{{ defaultImagePath }}//user2-160x160.jpg"
          class="img-circle"
          alt="User Image"
        />

      </div>
      <div class="pull-left info">
        <p>
          {{ userName }}
        </p>
        <!-- Status -->
        <a href="#"> <i class="fa fa-circle text-success"></i>Online </a>
      </div>
    </div>

    <!-- Sidebar Menu Items -->
    <crm-menu-item [navItems]="navItems"></crm-menu-item>
    <!-- ./Sidebar Menu -->
  </section>
</aside>
