<!-- Search Form -->
<div class="sidebar-form">
  <div class="input-group">
    <input
      class="form-control"
      type="text"
      name="q"
      placeholder="Search..."
      aria-autocomplete="off"
      [(ngModel)]="term"
    />
    <!-- It is required if menu item have children items -->
    <!-- (keyup)="setExpandedTrue($event)" -->

    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</div>
<!-- /.Search Form -->

<!-- Sidebar Menu Items -->
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">MAIN NAVIGATION</li>

  <ng-container *ngFor="let item of navItems | filter: term">
    <li style="cursor: pointer;">
      <!-- Menu Item -->
      <a
        routerLink="/{{ item.route }}"
        routerLinkActive="active"
        (click)="setTitle(item.displayName)"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="{{ item.iconName }} mr-1"></i>
        <span>{{ item.displayName }}</span>
      </a>
    </li>
  </ng-container>
</ul>
