<body>
  <div class="container" id="login-card">
    <!-- pull push used to aletr thge ordering of columns in large screens -->

    <div class="row">
      <!-- RIGHT PART the actual form -->
      <div class="col-sm-8 login-form col-sm-push-4">
        <

        <div class="row">
          <div class="col">
            <form id="main-form" style="padding: 10px" [formGroup]="loginForm">
              <div class="form-group has-feedback">
                <label>Username or Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Full Name"
                  formControlName="username"
                  crmFormValidator
                />
                <span
                  class="glyphicon glyphicon-user form-control-feedback"
                ></span>
              </div>
              <div class="form-group has-feedback">
                <label>Password</label>
                <input
                  type="{{ passwordType }}"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                  crmFormValidator
                />
                <span
                  class="glyphicon glyphicon-eye-open form-control-feedback"
                  style="cursor: pointer; pointer-events: auto !important"
                  (click)="viewPassword()"
                ></span>
              </div>
              <!-- <password-strength-meter [password]="loginForm.value.password">
              </password-strength-meter> -->

              <div class="pwd-util-row">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label
                    class="form-check-label"
                    for="exampleCheck1"
                    style="margin-left: 10px"
                    >Remember Me</label
                  >
                </div>
                <a class="secondary-link" href="">Forgot Password?</a>
              </div>
              <button type="submit" class="btn btn-login" (click)="onLogin()">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- left part -->
      <div class="col-sm-4 col-sm-pull-8" id="welcome-section">
        <div class="row">
          <div class="col">
            <h1>Welcome Back</h1>

            <button class="btn btn-signup" [routerLink]="['/register']">
              Sign up
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="welcome-footer">
              <ul class="social">
                <li>
                  <a href=""><i class="fab fa-facebook-square"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
